$transition: all .3s;

$corners-shape-default: 4px;
$corners-shape-sharp: 0;
$corners-shape-rounded: 12px;
$corners-shape-round: 32px;
$corners-shape-oval: 50%;

$corners-image-shape-rounded: 52px;
$corners-image-shape-round: 300px;

$corners-box-shape-rounded: 52px;
