.searchable-select-container {
	width: 100%;
	background: #fff;
	padding: 10px;
	border-radius: 6px;
	border: 1px solid;
	margin-block-start: 5px;
	display: none;
}

.custom-select-options {
	list-style: none;
	padding-inline: 0;
	padding-block-start: 6px;
	display: flex;
	flex-direction: column;
}

.custom-select-options > li {
	cursor: pointer;
	padding-inline: 6px;
	padding-block: 4px;
	border-radius: 4px;
}

.custom-select-options > li:hover {
	background: #f0f0f0;
}

.searchable-select-container--expanded {
	display: block;
}
